<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">     
    <event name="catalog_product_save_before">
        <observer name="product_faq_save_before" instance="Fahim\ProductFaq\Observer\SerializedProductFaq" />
        <observer name="product_cross_save_before" instance="Fahim\ProductFaq\Observer\SerializedCrossProduct" />
        <observer name="product_up_save_before" instance="Fahim\ProductFaq\Observer\SerializedUpProduct" />
    </event>
</config>